################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/playfair16/playfair16.VC.VC.opendb
/playfair16/playfair16.VC.db
/playfair16/playfair16/targetver.h
/playfair16/playfair16/stdafx.h
/playfair16/playfair16/stdafx.cpp
/playfair16/playfair16/ReadMe.txt
/playfair16/playfair16/playfair16.vcxproj.user
/playfair16/playfair16/playfair16.vcxproj.filters
/playfair16/.vs/playfair16/v14/.suo
